[include]
  # include external gitconfig file (requires git 1.7.10+)
  #   # typically, user.name and user.email is configured.
  path = ~/.gitconfig.local

[alias]
    st = status -sb
    ci = commit
    br = branch
    co = checkout
    df = diff
    ds = diff --staged
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
	  vlog = !git log --pretty=format:\"%s from %an\" -1 | say &
    ls = ls-files
    unstage = reset HEAD
    gg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

[core]
    excludesfile = ~/.gitignore
    editor = /usr/bin/vim
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[difftool]
    prompt = false
